
body {
    margin: 0;
    padding: 0;
}


/* The spot that our threejs scene goes */
#World {
    margin: 0;
    padding: 0;
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: #0f213d;
}
