
html {
    font-size: 14px;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    /*background-color: #202020;*/
    color: #ffffff;
    line-height: 1.4em;
    height: 100%;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}



/* The spot that our threejs scene goes */

#World {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: #0f213d;
}
