<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ThreeJS World</title>
    <!--  CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen" />
</head>

<body>

    <!--Our World Scene goes Here!-->
    <div id="World">
    </div>

    <!-- Math Parser Engine -->
    <script src="../3party/math.js"></script>

    <!-- Our Program! -->
    <script src="./main.js" type="module"></script>

</body>

</html>
