<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ThreeJS World</title>

    <!--  CSS -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen" />

    <!--  Mathjax-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script> window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
        </script>

<body>



<!--Our World Scene goes Here!-->
<div id="World">
</div>

<div id="info" >

<!--    <h2>One Million Dots:</h2>-->
<!--    <h1>Strange Attractors</h1>-->
<!--    <p id="moreDetails"><b style = 'font-size:28px'>+</b></p>-->

<!--    &lt;!&ndash;  <i class='fas fa-chevron-down' style='font-size:18px'></i>&ndash;&gt;-->
<!--    <div id="details" class="hidden">-->

<!--        <p>An <a href = https://en.wikipedia.org/wiki/Attractor"> attractor </a> is a set of states for a dynamical system-->
<!--            towards which arbitrary states tend to evolve; attractors are called 'strange' when they exhibit fractal-like behavior. </p>-->
<!--        <p> This program visualizes several three dimensional dynamical systems with-->
<!--            strange attractors, accessible via the menu in the top right.  The defining differential equations are below: </p>-->

<!--        <h3>Aizawa</h3>-->
<!--        The aizawa attractor arises from the following dynamical system with-->
<!--        parameters $a=0.95$, $b=0.7$, $c=0.6$, $d=3.5$, $e=0.25$ and $f=0.1$.-->
<!--        $$-->
<!--        \left\{-->
<!--        \begin{aligned}-->
<!--        x^\prime &= (z-b)x-dy \\-->
<!--        y^\prime &= dx+(z-b)y\\-->
<!--        z^\prime &= c+az-\frac{z^3}{3}-(x^2+y^2)(1+ez)+fzx^3-->
<!--        \end{aligned}-->
<!--        \right.-->
<!--        $$-->


<!--        <br><br>-->
<!--        <h3>Chen</h3>-->
<!--        The Chen attractor arises from the following dynamical system-->
<!--        with parameters $a=5$, $b=-10$, and $d=0.38$.-->
<!--        $$-->
<!--        \left\{-->
<!--        \begin{aligned}-->
<!--        x^\prime &= ax-yz \\-->
<!--        y^\prime &= by+xz\\-->
<!--        z^\prime &= dz+xy/3-->
<!--        \end{aligned}-->
<!--        \right.-->
<!--        $$-->

<!--        <br><br>-->
<!--        <h3>Dadras</h3>-->
<!--        The Dadras attractor arises from the following dynamical system-->
<!--        with parameters $a=3$, $b=2.7$, $c=1.7$, $d=2$ and $e=9$.-->
<!--        $$-->
<!--        \left\{-->
<!--        \begin{aligned}-->
<!--        x^\prime &= ax-yz \\-->
<!--        y^\prime &= by+xz\\-->
<!--        z^\prime &= dz+xy/3-->
<!--        \end{aligned}-->
<!--        \right.-->
<!--        $$-->

<!--        <br><br>-->
<!--        <h3>R&#246;ssler</h3>-->
<!--        The R&#246;ssler attractor arises from the following dynamical system-->
<!--        with parameters $a=b=0.2$ and $c=5.7$.-->
<!--        $$-->
<!--        \left\{-->
<!--        \begin{aligned}-->
<!--        x^\prime &= -(y+z) \\-->
<!--        y^\prime &= x+ay\\-->
<!--        z^\prime &= b+z(x-c)-->
<!--        \end{aligned}-->
<!--        \right.-->
<!--        $$-->


<!--        <br><br>-->
<!--        <h3>Sprott</h3>-->
<!--        The Sprott attractor arises from the following dynamical system-->
<!--        with parameters $a=2.07$ and $b=1.79$.-->
<!--        $$-->
<!--        \left\{-->
<!--        \begin{aligned}-->
<!--        x^\prime &= y+axy+z \\-->
<!--        y^\prime &= -bx^2+yz\\-->
<!--        z^\prime &= x-(x^2+y^2)-->
<!--        \end{aligned}-->
<!--        \right.-->
<!--        $$-->

<!--        <br><br>-->
<!--        <h3>Thomas</h3>-->
<!--        The Thomas attractor arises from the following dynamical system-->
<!--        with parameter $b=0.208186$-->
<!--        $$-->
<!--        \left\{-->
<!--        \begin{aligned}-->
<!--        x^\prime &= \sin(y)-bx \\-->
<!--        y^\prime &= \sin(z)-by\\-->
<!--        z^\prime &= \sin(x)-bz-->
<!--        \end{aligned}-->
<!--        \right.-->
<!--        $$-->


    </div>


    <div id="statsToggle"><p><b>+</b></p></div>
    <div id="statsFolder"></div>



</div>



<p id="signature"><a href="http://www.stevejtrettel.site" > stevejtrettel</a> </p>

<!-- Math Parser Engine -->
<script src="../3party/math.js"></script>
<!--Perlin Noise Generator-->
<!--<script src="../3party/perlin .js"></script>-->

<!-- Make the More Details Box Expandable-->
<script src = "../css/moreDetails.js"></script>



<!-- Our Javscript Program -->

<script  type="module">

    //set the objects that will run in this simulation
    import item from "../common/items/GradientPlotter2D.js";
    // "../common/items/SecantLinePlotter.js";
    let objects = {...item};

    let options = {
        color: 0x343757,
           // 0x2f508a,
            //0x303030,
    }

    //the function which builds a world from the default template,
    //using these objects
    import { mainFromTemplate } from "./mainFromTemplate.js";
    //call the function to run the app
    mainFromTemplate(objects, options);

</script>

<!--<script src="./main.js" type="module"></script>-->




</body>
</html>
